@import "tailwindcss";

/* Global Styles */
.background-primary {
  background-color: #e0e0e0;
}

/* Button Styles */
.button-primary {
  background-color: #ae132a;
  transition: background-color 0.2s ease;
}
.button-primary:hover {
  background-color: #b91c1c;
}
.button-clicked {
  background-color: #333333;
}

/* Header-Footer Styles */
.background-headerfooter {
  background-color: #005eb8;
}

.sadt_blue_light {
  color: #005eb8;
}

/* Loading Spinner */
.spinner{
  border: 4px solid #ae132a;
  border-left-color: #005eb8;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
  display: inline-block;
  margin-right: 8px;
}

@keyframes spin {
  0%{ transform: rotate(0deg); }
  100%{ transform: rotate(360deg); }
}
