@import "tailwindcss";

/* Global Styles */
.background-primary {
  background-color: #e0e0e0;
}

/* Button Styles */
.button-primary {
  background-color: #ae132a;
  transition: background-color 0.2s ease;
}

.button-primary:hover {
  background-color: #b91c1c;
}

.button-clicked {
  background-color: #333333;
}

/* Header-Footer Styles */
.background-headerfooter {
  background-color: #005eb8;
}

.sadt_blue_light {
  color: #005eb8;
}

/* Loading Spinner */
.spinner{
  border: 4px solid #e0e0e0;
  border-left-color: #ae132a;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0%{ transform: rotate(0deg); }
  100%{ transform: rotate(360deg); }
}

/* Border Styles */
.border-secondary {
  border-color: #005eb8;
}
.border-tertiary {
  border-color: #333333;
}
.border-tertiary:focus {
  outline-color: #ae132a;
  border-color: #333333;
}

/* Text Styles */
.text-primary {
  color: #333333;
}

/* Chip Styles */
.chip-diploma {
  background-color: #74a8c9;
  border-color:#333333;
}
.chip-certificate {
  background-color: #b98bc5;
  border-color:#333333;
}
.chip-bachelors {
  background-color: #e9aa52;
  border-color:#333333;
}
.chip-approved {
  background-color: #86cb8a;
  border-color:#333333;
}
.chip-submitted {
  background-color: #bdbdbd;
  border-color:#333333;
}
.chip-inreview {
  background-color: #f9d800;
  border-color:#333333;
}
.chip-rejected {
  background-color: #ce5252;
  border-color:#333333;
}
.chip-uploaded {
  background-color: #9e4242;
  border-color:#333333;
}
.chip-empty {
  background-color: #b49494;
  border-color:#333333;
}